.my-jumbotron{
    background-image:linear-gradient(rgba(0, 0, 0, 0.842),rgba(0, 0, 0, 0.842)), 
    url("https://images.unsplash.com/photo-1633040243823-6bf8d4edb0ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-position : center;
    background-size : cover;
    height: 500px;
    display: flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}
.button-input{
    width: 40%;
    margin-top:30px;
}
.my-jumbotron h1,h2{
    color: white;
}